{% extends "template.html" %}
{% block body %}
        <a href="/"><</a><br>
        <form action="subscribed" method="post">

        <p>Enter email and select what product you want to be notified about</p>
        email:<input type="text" name="email"><br>

        <!--VELCRO OUNCE AND COLOR-->
        <p>velcro gloves</p>
        <select name="velcroounce">
            <option disabled selected>none</option>
            <option>8oz</option>
            <option>10oz</option>
            <option>12oz</option>
            <option>14oz</option>
            <option>16oz</option>
        </select>
        <p>velcro glove color</p>
        <select name="velcrocolor">
            <option disabled selected>none</option>
            <option>white</option>
            <option>blue</option>
            <option>black</option>
            <option>red</option>
        </select>
        <!-- -->

        <!--LACE OUNCE AND COLOR-->
        <p>lace glove</p>
        <select name="laceounce">
            <option disabled selected>none</option>
            <option>8oz</option>
            <option>10oz</option>
            <option>12oz</option>
            <option>14oz</option>
            <option>16oz</option>
            <option>18oz</option>
        </select>
        <p>lace glove color</p>
        <select name="lacecolor">
            <option disabled selected>none</option>
            <option>white</option>
            <option>blue</option>
            <option>black</option>
            <option>red</option>
        </select>
        <!-- -->

        <!--OPEN HEADGEAR SIZE AND COLOR-->
        <p>Open headgear Size</p>
        <select name="opensize">
            <option disabled selected>none</option>
            <option>medium</option>
            <option>large</option>
            <option>2l</option>
            <option>3l</option>
        </select>
       <p>Open headgear Color</p>
        <select name="opencolor">
            <option disabled selected>none</option>
            <option>white</option>
            <option>blue</option>
            <option>black</option>
            <option>red</option>
        </select>
        <!-- -->

        <!--BAR-->
        <p>Bar headgear</p>
        <select name="barsize">
            <option disabled selected>none</option>
            <option>medium</option>
            <option>large</option>
            <option>2l</option>
            <option>3l</option>
        </select>
        <select name="barcolor">
            <option disabled selected>none</option>
            <option>white</option>
            <option>blue</option>
            <option>black</option>
            <option>red</option>
        </select>

        <!-- CUP SIZE AND COLOR -->
        <p>Cup</p>
        <select name="cupsize">
            <option disabled selected>none</option>
            <option>medium</option>
            <option>large</option>
            <option>2l</option>
            <option>3l</option>
        </select>
        <select name="cupcolor">
            <option disabled selected>none</option>

            <option>white</option>
            <option>blue</option>
            <option>black</option>
            <option>red</option>
        </select>
        <!-- -->


        <br>
        <br>
        <input type="submit">
    </form>

{% endblock %}