<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gloves</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

    <img src="/static/logo.gif">
    <p>Api Links</p>
    <ul>
        <li><a href="/gloves/laces">Laces Gloves</a></li>
        <li><a href="/gloves/velcro">Velcro Gloves</a></li>
        <li><a href="/headgear/open">Headgear Open</a></li>
        <li><a href="/headgear/bar">Headgear Bar</a></li>
        <li><a href="/cup">Cup</a></li>
    </ul>

</body>
</html>